# Suyog Chhetri

# Data Types:
1. Number
2. String
3. Boolean
4. None

# Flow Control:
1. Control Statement (if, else, elseif)
2. Break Continue

# Loops
1. While
2. For

In [2]:
hello = "Hello World"
print (hello)

Hello World

# Python numbers

In [3]:
pi = 3.14159
print (pi)

3.14159

# Numbers (interger, float, imaginary) type

In [4]:
age = 30 
real_imaginary = 1j
pi = 3.14159
print (pi)
print (age)
print (type (real_imaginary))

3.14159
30
<class 'complex'>

# Arithmetic operations

In [5]:
# Addition
a = 6
b = 3
sum_of_ab = a + b
print (sum_of_ab)
diff = a - b
print (diff)
product = a * b
print (product)
div_of_ab = a / b
print (div_of_ab)
rem_a_b = a % b
print (rem_a_b)
total_ram_size = 2**4
print (total_ram_size)

9
3
18
2.0
0
16

# Strings

In [6]:
city = "Kathmandu Valley"
print (city)
print (len(city))
print (city[4])
last_city = city[len(city)-1]
print (last_city)


# sub sting 
first_city = city[0:3]
last_city = city[4:9]
print ("first last city", first_city, last_city)

Kathmandu Valley
16
m
y
first last city Kat mandu

In [7]:
name = "Aaayush Dev Choudary"
first_name = name [:6]
middle_name = name[7:10]
last_name = name[11:]
print ("fullname =", first_name, middle_name, last_name)

fullname = Aaayus  De  Choudary

# Boolean

In [8]:
pass = True
fail = False

SyntaxError: invalid syntax (109033805.py, line 1)

# Control Statements

In [12]:
day = int(input("Enter day"))
if day == 4:
    print ("I have to wake up first")
    print ("I have to eat ")
    print ("I have to sleep")
elif day == 5:
    print ("I donot have to wake up first")
    print ("I don't have to eat ")
    print ("I don't have to sleep")
else:
    print ("I don't have to wake up second")
print ('test')

I don't have to wake up second
test

# Write a program to findout that the given number is odd or even

In [14]:

number = int(input("Enter a number"))
if number % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is odd

# If time is
# between 10-12 print its time for python
# between 12-14 print its time for DSA
# between 14-15 print its time for English
# default "getting ready"

In [24]:

time = int(input("Enter a time"))
if time >10 and time < 12:
    print("The time is for python")
elif time >=12 and time <14:
    print("The time is for DSA")
elif time >=14 and time <15:
    print("The time is for English")
else:
    print("getting ready")

The time is for DSA

# If you are from "Nepal" or "India" ticket for cablecar 50 else

In [35]:


country = input("Enter country")
if country.lower() == "nepal" or country.lower() == "india":
    print("Ticket for cablecar is 50")
else:
    print("Ticket for cablecar is 10")

Ticket for cablecar is 10

# While loop

In [46]:

counter = 10
while counter > 0:
    print("Hello world")
    print(f"Hello world {counter}")
    counter -= 1

Hello world
Hello world 10
Hello world
Hello world 9
Hello world
Hello world 8
Hello world
Hello world 7
Hello world
Hello world 6
Hello world
Hello world 5
Hello world
Hello world 4
Hello world
Hello world 3
Hello world
Hello world 2
Hello world
Hello world 1

# Find the sum of first n = 100 natural numbers

In [53]:

n = 100
counter = 2 
sum = 0
while counter<=n:
    sum += counter
    counter+=2
print (sum)

2550

In [54]:
n = 100 
counter = 1 
sum = 0
while counter<=n:
    if counter %2==0:
        sum += counter
    counter += 1
print (sum)

2550

# Reverse the given string address = "Kathmandu Nepal"

In [60]:


Name = "Kathmandu Nepal"
length = len(Name) -1
reversed_string = ''
print (length)
while length>=0:
    reversed_string = reversed_string + Name[length]
    length -= 1
print (reversed_string)

14
lapeN udnamhtaK

In [61]:
address = "Kathmandu Nepal"
reverse_str = ""
index = len(address) - 1

while index >= 0: 
    reverse_str += address[index]
    index -= 1

print(reverse_str)

lapeN udnamhtaK

In [8]:
numbers = [1, 2, 3, 4, 5, 5]
students = ["Ram", "Hari"]
numbers.append (8)

first_number = numbers[0]
print(first_number)

total_items = len(numbers)
print(total_items)

last_element = numbers[total_items-1]
print(last_element)

numbers.remove(5)
print(numbers)

numbers.insert(2,10)
print(numbers)

print(numbers.count(1))

1
7
8
[1, 2, 3, 4, 5, 8]
[1, 2, 10, 3, 4, 5, 8]
1

In [9]:
numbers_1 = [1,2,]
numbers_2 = [3,4]
numbers_1.extend(numbers_2)
print(numbers_1)

numbers_1.clear()
print(numbers_1)

[1, 2, 3, 4]
[]

In [4]:
a = 5
b = a
a = a + 1
print(a, b)

a = ['Hari', 'Ram']
b = a
a.append('Gopal')
print(b)
if 'Ram' in a:
    print('Ram exist in a')

6 5
['Hari', 'Ram', 'Gopal']
Ram exist in a

# Loop though list (iterate over list)

In [5]:
numbers = [1,2,3,4,5,6,6]
total_items = len(numbers)
index = 0
sum = 0
while index < total_items:
    element = numbers[index]    
    sum += element
    index += 1
print(sum)

27

# Find the max value from the list

In [16]:
numbers = [1,2,3,4,5,6,6]
total_items = len(numbers)
index = 0
max_value = numbers[0]
while index < total_items:
    element = numbers[index]    
    if element > max_value:
        max_value = element
    index += 1
print(max_value)

6

# Filter valuse

In [20]:
students = ['Ram','Hari','Gopal']
filtered_students = [student for student in students if student != 'Ram']
print (filtered_students)

['Hari', 'Gopal']
[2, 4, 8]

# Creat a list of even number of from the given list

In [21]:
numbers = [1, 3, 2, 4, 5, 7, 11, 9, 8]
even_number = [number for number in numbers if number %2==0]
print (even_number)

[2, 4, 8]

# Join all lists items into single string